.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(240, 240, 240);
    padding: 20px;
    border-bottom: 1px solid #ccc;
}
.header-container > img {
    width: 58px;
    height: 58px;
}
.header-title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.title {
    text-align: center;
    margin-top: 20px;
    font-size: 26px;
    color: #333;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.attempt-container {
    display: block;
    width: 31%;
}
.container > div > p {
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 0.85em;
    color: #555;
}
#verb_table {
    width: 45%;
    margin-top: 20px;
    margin-bottom: 10px;
}
.container > table {
    border-collapse: collapse;
    margin: 0 20px;
    gap: 20px;
}
.container > table th, .container > table td {
    padding: 5px 12px;
    text-align: center;
}
.container > table, .container > table th, .container > table td {
    border: 1px solid #ccc;
}
.wrong {
    display: none;
    align-items: center;
    justify-content: space-between;
    width: 31%;
    background-color: rgb(254, 222, 238);
    font-size: 14px;
    padding: 10px;
    border-radius: 3px;
}
.wrong-close {
    cursor: pointer;
    font-size: 14px;
}
.td_img {
    width: 50px;
    height: 50px;
    text-align: center;
}
.btn-check {
    background-color: rgb(70, 92, 253);
    border: 1px solid rgb(0, 19, 167);
    color: white;
    padding: 7px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 50%;
    cursor: pointer;
}
.btn-secc {
    background-color: rgb(254, 222, 238);
    border: 1px solid rgb(255, 147, 203);
    color: black;
    padding: 7px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
}
.tense-highlight {
    background-color: rgb(252, 252, 182);
}
.verb-display {
    color: blue;
}
.verb-input {
    width: 190px;
    padding: 5px;
    font-size: 14px;
}
.input-container {
    width: 31%;
    display: flex;
    padding: 12px;
    background-color: rgb(240, 240, 240);
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    border-radius: 5px;
}
.input-child {
    display: flex;
    gap: 10px;
}
input[type="radio"] {
  accent-color: #ff006f; /* Changes the fill color when checked */
  width: 1.4em; /* Increases size slightly */
  height: 1.4em;
}
select {
    padding: 5px;
    font-size: 14px;
}
.if-infin-container {
    display: inline-block;
    margin-top: 10px;
    margin-left: 20px;
    padding: 10px;
    border-radius: 3px;
    background-color: rgb(240, 240, 240);
}
.separator {
    width: 100%;
    height: 1px;
    background-color: #ccc;
    margin: 20px 0;
}
.check-container {
    display: flex;
    align-items: center;
    gap: 10px;
}
.repeat-verbs {
    width: 20px;
    height: 20px;
    accent-color: #ff006f;
}
.sett-bott-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}
.final-modal-title {
    display: flex;
    align-items: center;
    gap: 10px;
}
.final-modal-btn-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}