.title {
    text-align: center;
    margin-top: 20px;
    font-size: 24px;
    color: #333;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.container > table {
    border-collapse: collapse;
    margin: 0 20px;
    gap: 20px;
}
.container > table th, .container > table td {
    padding: 10px;
    text-align: center;
}
.container > table, .container > table th, .container > table td {
    border: 1px solid #ccc;
}
.td_img {
    width: 50px;
    height: 50px;
    text-align: center;
}
.btn-check {
    background-color: rgb(77, 97, 255);
    border: none;
    color: white;
    padding: 7px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 50%;
    cursor: pointer;
}
.btn-secc {
    background-color: white;
    border: 1px solid rgb(248, 123, 187);
    color: black;
    padding: 7px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 3px;
    cursor: pointer;
}
.verb-display {
    color: blue;
}
.verb-input {
    padding: 5px;
    font-size: 14px;
}
.input-container {
    width: 31%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-top: 20px;
}
.input-child {
    display: flex;
    gap: 10px;
}